<ion-view view-title="A1 1.4T Fsi Sline">
  <ion-content class="catal">
		  <div class="list list-inset">

    <div class="item">
      AÑO: (02/2012 ...)
    </div>
    <div class="item">
     FILTRO:  CA9711
    </div>
    <div class="item">
      EQUIVALENCIA MANN: C35154
    </div>
    <div class="item">

    	Altura : 70 mm
		Ancho : 345 mm
		Largo : 135 mm
    </div>

	<div class="item">

    	A1 1.4T Fsi Sline	136KW/185HP	02/12	-->	<br>		
A3 1.8 TFSI	120KW/163HP	04/12	-->			<br>
A3 1.9 TDI	77KW/105HP	11/08	12/09			<br>
A3 2.0 Tdi	103KW/140HP	03/05	-->			<br>
A5 Sportback 2.0 Tdi		02/12	01/13		<br>	
Q3 2.0 TDI		08/13	-->			<br>
Q3 2.0T FSI	155KW/211HP	10/12	-->	<br>
    </div>

	</div>
  </ion-content>
</ion-view>
