<ion-view view-title="Modelos">
  <ion-content>
    <div class="row">
              <div class="col col-50"> <h3>Modelos</h3> </div> 
              <div class="col col-50"> <h3>Codigo Framm</h3> </div> 
          </div>  
    
      
      <ion-list>
      <ion-item ng-repeat="mod in modelos.names track by $index" href="#/app/playlists/{{number}}">
          
          <div class="row">
              <div class="col col-50"> {{mod.modelo}} </div> 
              <div class="col col-50"> {{mod.codigo}} </div> 
          </div>
          
          
          
      </ion-item>
    </ion-list>
      
  </ion-content>
    
    <div class="bar bar-footer">
      <button class="button icon-left ion-star button-positive">Favorites</button>
    </div>
    
</ion-view>
